{% extends "base.html.twig" %}

{% block body %}
    <div class="border border-white m-5 p-5 rounded">
        <h1 class=" d-flex justify-content-center ">Incrivez-vous !</h1>
        <div class=" d-flex justify-content-center ">
            <div class="container d-flex  justify-content-center ">
                {{ form_start(form) }}
            
                <div class="my-3">{{ form_row(form.username) }}</div>
                <div class="my-3">{{ form_row(form.email) }}</div>
                <div class="my-3">{{ form_row(form.password) }}</div>
                <div class="my-3">{{ form_row(form.confirm_password) }}</div>

                <button type="submit" class="btn btn-success mt-3">Inscription</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    
{% endblock %} 