{% extends 'base.html.twig' %}
{% block title %}Create Figure{% endblock %}

{% block body %}
<section class="container mt-5 mb-5">
    <h1>Création d'une nouvelle figure !</h1>
    <div class="container h-200 ">
      {{ form_start(formCreateFigure) }}
        {{ form_start(formCreateVideo)}}
       
        {{ form_row(formCreateFigure.name) }}
        {{ form_row(formCreateFigure.content) }}   
        {{ form_row(formCreateFigure.groupe)}}
        {{ form_row(formCreateFigure.pictures) }}
        {{ form_row(formCreateVideo) }} 
            <button type="submit" class="btn btn-success mt-3">
                Ajouter l'article
            </button>
        {{ form_end(formCreateFigure) }}
        {{ form_end(formCreateVideo)}}
    </div>    
</section>
{% endblock %}
