{% extends 'base.html.twig' %}

{% form_theme formFigure 'bootstrap_5_layout.html.twig' %}
{% block body %}

<h1>Modification d'une figure !</h1>
{# {{ form(formFigure)}} permet de faire un formulaire grossier #} 
{{ form_start(formFigure)}}
{% for picture in figure.pictures %}
    <div class="m-3">
        <img src="{{ asset('/uploads/' ~ picture.name) }}" alt="Picture" width="300">
        <a href="{{ path('figure_delete_picture', {id: picture.id}) }}"
        data-delete data-token="{{ csrf_token('delete' ~ picture.id) }}">Supprimer</a>
    </div>
{% endfor %}
{{ form_row(formFigure.pictures, {'attr' : {'label' : "image(s)"}})}}
{{ form_row(formFigure.groupe)}}
{{ form_row(formFigure.name, {'attr' : {'placeholder' : "Nom de la figure"}}) }}
{{ form_row(formFigure.videos, {'attr' : {'placeholder' : "lien de la vidéo"}}) }}
{{ form_row(formFigure.content, {'attr' : {'placeholder': "Description de la figure"}}) }}

<button type="submit" class="btn btn-success">
    Modifier
</button>
{# <button class="btn">{{button_label|default('Modifier')}}</button> #}

{{ form_end(formFigure) }}

{% endblock %}

