{% extends 'base.html.twig' %}

{% block title %}Bonjour SnowtricksController!{% endblock %}

{% block body %}
    
      <div class="card-group col-3" > 
      {% for figure in figures %}
        <div class="card " style="" >
        
            {% for picture in figure.pictures %}
                 <div class="m-3">
                    <img src="{{ asset('/uploads/' ~ picture.name) }}" alt="Picture" width="300">
                </div>
            {% endfor %}
            <div class="card-body">
                {# <h2 class="card-title">{{ figure.name}}</h2> #}
                {# <div class="metadata">{{figure.user.username}} a Ecrit le </div>
                <div class="card-text">{{ figure.groupe.name }}</div> #}
                <div class="card-text d-flex justify-content-center">
                    
                    <a href="{{ path('figure_show', {'id' : figure.id}) }} " class="btn btn-primary">{{ figure.name | raw }}</a>
                </div>
                {# <p class="card-footer">
                    <small class="text-muted">Last updated 3 mins ago</small>
                 </p> #}
            </div>
        </div>      
    </div>
    {% endfor %}
{% endblock %}
