{% extends 'base.html.twig' %}

{% block title %}Bonjour SnowtricksController!{% endblock %}

{% block body %}
   <div id="upHome" class="d-flex justify-content-center">
        <img class="" src="{{ asset('/images/snowSnowTrick2.jpg') }}" alt="home_snow" style="max-width: 100%">
        <h3 class="text-dark text-center position-absolute mt-2 mt-md-3 mt-xl-4 " style="font-size: 4vw;"><strong> "Aller toujours plus haut !"</strong></h3>
        <div class="position-absolute w-100 align-self-end">
         <div class="d-flex justify-content-end   mr-2"><a id="" href="#tricksList" title="Tricks" style="index: 2"><em class="fa-solid fa-4x fa-sort-down"></em></a> </div>
        </div>
   </div>
       
    <div class=" container mt-5" id="tricksList"> 
        <div class="d-flex justify-content-around flex-wrap ">
            {% for figure in figures %}
            {% set firstImg = figure.pictures | first %}
                <div class="m-2 align-self-end " >
                    <div class='red'>
                    {% if firstImg != null %}
                        <img src="{{ asset('/uploads/' ~ firstImg.name) | imagine_filter('carrept') }}" alt="Picture"  >    
                        {% else %}
                        <img class="" src="{{ asset('/images/snowSnowTrick2.jpg') | imagine_filter('carrept') }}" alt="home_snow">      
                    {% endif %} 
                    </div>
                    <div class="card-text text-center m-3">
                        <a href="{{ path('figure_show', {'id' : figure.id, 'slug' : figure.name | slug })  }} " class="btn btn-sm btn-primary">{{ figure.name | raw }}</a>
                         {% if is_granted('ROLE_ADMIN' )  or (figure.user is same as (app.user))  %}                       
                                <a href="{{ path('edit_figure', {'id' : figure.id})}}" class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-pen-clip"></i></a>
                                 <a href="#" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#monModal"><i class="fa-solid fa-trash-can"></i></a>
                                    <div class="modal" tableindex="-1" role="dialo" id="monModal">
                                        <div class="modal-dialog modal-lg"  role="document">
                                            <div class="modal-content">
                                                <div class="mondal-header">
                                                    <button type="button" class="close" data-dismiss="modal">x</button>
                                                    <h4 class="modal-tittle">Voulez-vous vraiment supprimer ce snowstrick</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <a href="{{ path('snowtrick_delete', {'id' : figure.id})}}" class="btn btn-sm btn-outline-secondary">Supprimer &nbsp<i class="fa-solid fa-trash-can"></i></a>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-default"  data-dismiss="modal">Fermer</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                         
                        {% endif %}
                    </div>
                    
                </div>
            {% endfor %}

        </div>  
        
         <div class="container">
                <div class="d-flex align-item-center ">
                     {{ knp_pagination_render(figures) }}
                </div>
            </div>
    </div>    
    <div class=" d-flex justify-content-end mr-2">
        <a href="#upHome" title="Tricks" ><em class="fa-solid fa-4x fa-sort-up"></em></a>   
    </div>
       
{% endblock %}

{% block javascripts %}


{% endblock %}
