{% extends 'base.html.twig' %}

{% block title %}Bonjour SnowtricksController!{% endblock %}

{% block body %}
    
    <div class="d-flex" > 
        <div>
             {% for figure in figures %}
            
            {% set firstImg = figure.pictures | first %}
        
            {# {{ firstImg.name }} #}

                <div class="m-3">
                    <img src="{{ asset('/uploads/' ~ firstImg.name) }}" alt="Picture" width="300"> 
                
            {# {% for picture in figure.pictures %}
                 <div class="m-3">
                    <img src="{{ asset('/uploads/' ~ picture.name) }}" alt="Picture" width="300"> #}
                </div>
           
            {# {% endfor %} #}
                <div class="card-body">
                    <div class="card-text ">
                        <a href="{{ path('figure_show', {'id' : figure.id, 'slug' : figure.name | slug }) }} " class="btn btn-primary">{{ figure.name | raw }}</a>
                    </div>
                </div>

        </div>
       
    </div>
    {% endfor %}
{% endblock %}
