{% extends 'base.html.twig' %}

{% block body %}

<article class="container">
    <h1>{{figure.name}}</h2>
    <p>{{ figure.user.username}} a déposé ce trick </p>
    <p> pour la catégorie  : <strong> {{ figure.groupe.name}} </strong></p>
    <div class="content">
    <h2>Les Photos</h2>
    <div class="d-flex">
        {% for picture in figure.pictures %}
                <div class="m-3  ">
                    <img src="{{ asset('/uploads/' ~ picture.name) }}" alt="Picture" width="300">
                </div>
            {% endfor %}
    </div>
   {% if figure.videos | length > 0 %} <h2>Les vidéos</h2> {% endif %} 
    <div class="d-flex">
            {% for video in figure.videos %}
                <div> {{ video.frame | raw}}</div>
            {% endfor %}
    </div>
        <p>{{figure.content | raw}}</p>
        
        {% if is_granted('ROLE_ADMIN' )  or (figure.user is same as (app.user))  %}
            <a href="{{ path('snowtrick_delete', {'id' : figure.id})}}" class="btn btn-sm btn-outline-secondary"><i class="fa-solid fa-trash-can"></i></a>
            <a href="{{ path('edit_figure', {'id' : figure.id})}}" class="btn btn-sm btn-outline-primary"><i class="fa-solid fa-pen-clip"></i></a>
        {% endif %}
    </div>
</article>
<section class="container">
    {% if figure.comments | length > 0 %}
        <h1>{{ figure.comments | length }} Commentaires :</h1>
        {% for comment in figure.comments %}
            <h3>{{comment.content}}</h3>
            <p>{{ comment.user.username }}&nbsp à écrit le : <small>{{comment.createAt | date('d/m/Y à H:i')}}</small></p>
        {% endfor %}
    {% else %} Il n'y a pas encore de commentaire 
    {% endif %}
    {{form_start(commentForm)}}
    {{ form_row( commentForm )}}
        <button type="submit" class="btn btn-primary">Envoyer mon commentaire</button>
   <div class="w-100">
        {{form_end(commentForm)}}
   </div> 
</section>
 {% endblock %}