{% extends 'base.html.twig' %}

{% block body %}
<header>
    {% set firstImg = figure.pictures | first %}
   
      <div >
            <div >
                {% if is_granted('ROLE_ADMIN' )  or (figure.user is same as (app.user))  %}   
                <div class="d-flex justify-content-end">
                <div id="relativeshow" class="mr-5 bg-light d-flex justify-content-center">
                    <a href="{{ path('edit_figure', {'id' : figure.id}) }}" class="btn btn-sm btn-outline-white"><i class="fa-solid fa-pen-clip"></i></a>             
                    <a href="#" class="btn btn-sm btn-outline-white" data-toggle="modal" data-target="#monModal"><i class="fa-solid fa-trash-can"></i></a>
                </div>  
                </div>
                    {# Modal #}
                    <div class="modal" tableindex="-1" role="dialo" id="monModal">
                        <div class="modal-dialog modal-lg"  role="document">
                            <div class="modal-content">
                                <div class="mondal-header">
                                    <button type="button" class="close" data-dismiss="modal">x</button>
                                    <h4 class="modal-tittle">Voulez-vous vraiment supprimer ce snowstrick</h4>
                                </div>
                                <div class="modal-body">
                                    <a href="{{ path('snowtrick_delete', {'id' : figure.id})}}" class="btn btn-sm btn-outline-secondary">Supprimer &nbsp<i class="fa-solid fa-trash-can"></i></a>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default"  data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>                         
                    {% endif %}
          
          
            </div>     
            <div>
             {% if firstImg != null %}
                      
                       
                <img src="{{ asset('/uploads/' ~ firstImg.name)  }}" alt="Picture" style="max-width: 100%" > 
                 {% else %}
                        <img class="" src="{{ asset('/images/snowSnowTrick2.jpg') }}" alt="home_snow" style="max-width: 100%">
                    {% endif %}
            </div>
        </div>
</header>
<article class="container mt-5">
    <div class="container d-flex ">
    {% if figure.pictures | length > 1 %}
     {% for picture in figure.pictures %}
                <div class="m-3  ">
                    <img src="{{ asset('/uploads/' ~ picture.name | imagine_filter('carre') )}}" alt="Picture" width="300">
                </div>
    {% endfor %}
    {% else %}
        <img class="" src="{{ asset('/images/snowSnowTrick2.jpg') | imagine_filter('carre') }}" alt="home_snow"
    {% endif %}
    {% for video in figure.videos %}
        <div> {{ video.frame | raw}}</div>
    {% endfor %}
    
    
    </div>
  <div class=" container m-5">
    
        <p>{{figure.content | raw}}</p>
        
    </div>

    <div class=" container  text-center "> 
        <button class="text-center btn btn-primary mb-3" >  {{ figure.groupe.name}}  </button>
        <div class= "d-flex justify-content-center">
             <div class="border border-primary p-2 rounded d-flex mr-3"> <p>Auteur : </p>
             <strong >{{ figure.user.username}}  </strong></div>
             <div class="border border-primary p-2 rounded d-flex"> <p>Nom du trick :</p>  &nbsp<strong >{{figure.name}}</strong></div>
        </div>
    </div>
   

</article>
<section class="container">
    
        <h1>{{ figure.comments | length }} Commentaires :</h1>
    {% if user %}
            {{form_start(commentForm)}}
         {{ form_row( commentForm )}}
        <button type="submit" class="btn btn-primary mt-3">laisser un commentaire</button>
        <div class="w-100">
        {{form_end(commentForm)}}
    
    {% endif %}
    
      
  
        {% for comment in figure.comments %}
           <div class="container m-3 d-flex">
                <p class="d-flex align-items-end mr-3">{{ comment.user.username }}&nbsp à écrit le : <small>{{comment.createAt | date('d/m/Y à H:i')}}</small></p>
                <h3>{{comment.content}}</h3>
           </div> 
           
        {% endfor %}
   
  
</section>
 {% endblock %}