{% extends 'base.html.twig' %}

{% block body %}
<header>
    {% set firstImg = figure.pictures | first %}
   
      <div >
            <div >
                {% if is_granted('ROLE_ADMIN' )  or (figure.user is same as (app.user))  %}   
                <div class="d-flex justify-content-end">
                    <div  class="position-absolute mt-5 mr-5 bg-light d-flex justify-content-center">
                        <a href="{{ path('edit_figure', {'id' : figure.id}) }}" class="btn btn-sm btn-outline-white"><i class="fa-solid fa-pen-clip"></i></a>             
                        <a href="#" class="btn btn-sm btn-outline-white" data-toggle="modal" data-target="#monModal"><i class="fa-solid fa-trash-can"></i></a>
                    </div>  
                </div>
                <div class="d-flex justify-content-center ">
                    
                        <h3 class= "position-absolute  bg-light  mt-5 text-dark  border border-dark rounded  p-1 text-center  w-25" style="font-size: 4vw;">{{figure.name}} </h3> 
                
               
                </div>
                    {# Modal #}
                    <div class="modal text-center" tableindex="-1" role="dialo" id="monModal">
                        <div class="modal-dialog modal-lg"  role="document">
                            <div class="modal-content">
                                <div class="mondal-header">
                                    <button type="button" class="close" data-dismiss="modal">x</button>
                                    <h4 class="modal-tittle">Voulez-vous vraiment supprimer ce snowstrick</h4>
                                </div>
                                <div class="modal-body">
                                    <a href="{{ path('snowtrick_delete', {'id' : figure.id})}}" class="btn btn-sm btn-outline-secondary">Supprimer &nbsp<i class="fa-solid fa-trash-can"></i></a>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-default"  data-dismiss="modal">Fermer</button>
                                </div>
                            </div>
                        </div>
                    </div>                         
                    {% endif %}
            </div>     
            <div class="d-flex">
            {% if firstImg != null %}    
                <img  src="{{ asset('/uploads/' ~ firstImg.name)  }}" alt="Picture" style="max-width: 100%" > 
            {% else %}
                <img  src="{{ asset('/images/snowSnowTrick2.jpg') }}" alt="home_snow" style="max-width: 100%">
            {% endif %}
            </div>
        </div>
</header>
<article class="container justify-content-center mt-5">
    <div class=" owl-carousel owl-theme d-flex row  ">

    {% for picture in figure.pictures %}
        <div class="item d-flex row">
            <div class="card d-flex row">
                    <div class="m-3 d-flex row ">
                        <img src="{{ asset('/uploads/' ~ picture.name )| imagine_filter('carre') }}" alt="Picture" >
                    </div>
            </div>
        </div>
         {% endfor %}
         {% for video in figure.videos  %}
        <div class="item d-flex row" > 
             <div class="d-flex row  justify-content-center" >
               <div class="d-flex row  " style="height:190px; width:315px;">
                  {{ video.frame | raw }}
                  </div>
             </div>         
        </div>
        {% endfor %}
    </div>
    <div class=" container d-flex justify-content-center text-center w-75 mt-5">
        <p style="font-size: 2vw;">{{figure.content | raw}}</p>
    </div>

    <div class="container  d-flex  justify-content-between text-center my-5" style="font-size: 2vw;"> 
        <div class="text-center bg-primary pt-2 px-2 rounded" > 
            <p>Categories :</p>
            <p > {{ figure.groupe.name}}</p>  
        </div>
        <div class="text-center bg-primary pt-2  px-2 rounded" > 
            <p>Auteur :</p>
            <p > {{ figure.user.username}}</p>  
        </div>
        <div class="text-center bg-primary pt-2  px-2 rounded" > 
            <p>nom du Trick :</p>
            <p > {{ figure.name}}</p>  
        </div>
        <div class="text-center bg-primary pt-2 px-2 rounded" > 
            <p>Date de création </p>
            <p > {{ figure.dateCreate | date('d-m-Y')}}</p>  
        </div>
        {% if figure.dateEdit != null %}
        <div class="text-center bg-primary pt-2 px-2 rounded" > 
            <p>Date de modification </p>
            <p > {{ figure.dateEdit | date('d-m-Y')}}</p>  
        </div>
        {% endif %}
    </div>
</article>
<section class="container">
    <div class="d-flex mb-4" >
         <h2 style="font-size: 5vw;">{{ comments.getTotalItemCount  }} &nbsp<h2>
        {% if comments.getTotalItemCount > 1 %}
        <h2 style="font-size: 5vw;">Commentaires :</h2>
        {% else %}
        <h2 style="font-size: 5vw;">Commentaire :</h2>
        {% endif %} 
    </div>
       
    {% if user %}
            {{form_start(commentForm)}}
         <div >{{ form_row( commentForm.content)}}</div>
         
        <button type="submit" class="btn btn-primary mt-3">laisser un commentaire</button>
        <div class="w-100" style="font-size: 2vw;">
        {{form_end(commentForm)}}
    
    {% endif %}
        {% for comment in comments %}
        <div class="d-flex column justify-content-center">
            <div class="container my-3 d-flex border border-primary rounded p-2 w-50  ">
                    <div class="d-flex align-items-center mr-3">
                        <i class="bg-primary p-3 mr-2 rounded-circle fa-solid fa-user" style="font-size: 2vw;"></i>
                        <strong>{{ comment.user.username }}</strong>
                       
                    </div>
                    
                    <h4 style="font-size: 2vw;">{{comment.content}}</h4>
            </div> 
            
        </div>
           
           
        {% endfor %}
   <div class="d-flex align-item-center mt-3">
                     {{ knp_pagination_render(comments) }}
                </div>
  
</section>
 {% endblock %}

